layout {
    pane split_direction="vertical" name="Main" {
        pane
    }

    pane size=1 borderless=true {
        plugin location="file:/Users/neo/.config/zellij/plugins/zjstatus.wasm" {
            hide_frame_for_single_pane "false"

            format_left              "{mode}#[fg=#2d2b27,bg=#2d2b27,bold]{tabs}"
            format_right             "#[fg=#2d2b27,bg=#dfae3b,bold]  ck " // "{command_kubectx}#[fg=#424554,bg=#181825]::{command_kubens}{datetime}"
            mode_normal              "#[bg=#dfae3b] "
            mode_locked              "#[bg=#ffc387] "
            mode_resize              "#[bg=#ffc387] "
            mode_pane                "#[bg=#ffc387] "
            mode_tab                 "#[bg=#ffc387] "
            mode_tmux                "#[bg=#ffc387] "
            mode_default_to_mode     "normal"

            tab_normal               "#[fg=#dfae3b,bg=#2c2b27] {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_active               "#[fg=#2c2b27,bg=#f8d884,bold] {name} {fullscreen_indicator}{sync_indicator}{floating_indicator}"
            tab_fullscreen_indicator "□ "
            tab_sync_indicator       "  "
            tab_floating_indicator   "󰉈 "

            // command_kubectx_command  "kubectx -c"
            // command_kubectx_format   "#[fg=#6C7086,bg=#181825,italic] {stdout}"
            // command_kubectx_interval "2"

            // command_kubens_command  "kubens -c"
            // command_kubens_format   "#[fg=#6C7086,bg=#181825]{stdout} "
            // command_kubens_interval "2"

            // datetime          "#[fg=#9399B2,bg=#181825] {format} "
            // datetime_format   "%A, %d %b %Y %H:%M"
            // datetime_timezone "Europe/Berlin"
        }
    }
}
